body {
    font-family: Arial, sans-serif;
    background-color: #d5feff;
    color: #333;
    line-height: 1.6;
}
.imageAboutPage {
    width: 20%;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #009ea3;
    padding: 10px 20px;
    width: 100%;
}
.logo {
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: 20px;
            width: 1100px;
        }
a {
    text-decoration: none;
    font-size: large;
    color: #000000;
    width: 200px;
}

.justify {
            text-align: justify;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            color: rgb(0, 0, 0);
        }